@page
@model BirdCageShop.Pages.Users.UOrder.OrderViewModel
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "_Layout";
}

<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center"
             style="min-height: 300px;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Đơn hàng</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a asp-page="../User/Shop">Trang Chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Đơn hàng</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Order History Page Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày</th>
                            <th style="width: 30%;">Số lượng sản phẩm trong đơn hàng</th>
                            <th>Tổng cộng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <!-- Dữ liệu mẫu lịch sử đơn hàng -->
                        
                        @foreach(var item in Model.order)
                        {
                            <tr>
                                <td class="align-middle">
                                    <a asp-page="./OrderViewDetail"
                                       asp-route-orderID="@item.OrderId">@item.OrderId</a>
                                </td>
                                <td class="align-middle">@item.OrderDate</td>
                                @{
                                    Model.countOrderDetail = Model.countProductInOrder(item.OrderId);
                                }
                                <td class="align-middle">@Model.countOrderDetail</td>
                                <td class="align-middle">@item.OrderPrice</td>
                                @if(item.OrderStatus == "Pending")
                                {
                                    <td class="align-middle">Đang đợi</td>
                                }
                                else if (item.OrderStatus == "Delivering")
                                {
                                    <td class="align-middle">Đang vận chuyển</td>
                                }
                                else if (item.OrderStatus == "Delivered")
                                {
                                    <td class="align-middle">Đã giao hàng</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>