<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WingCageShop - Manager</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/AdminNew/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/AdminNew/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/AdminNew/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/AdminNew/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/AdminNew/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a asp-page="/Manager/MProduct/Index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>WingCageShop</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/AdminNew/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">User</h6>
                        <span>Manager</span>
                    </div>
                </div>
        @{
            string currentUrl = Context.Request.Path;
        }
                <div class="navbar-nav w-100">
                    <a asp-page="/Manager/MProduct/Index" class="nav-item nav-link @(currentUrl.Contains("MProduct") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Product
                    </a>

                    <a asp-page="/Manager/MAccessory/Index" class="nav-item nav-link @(currentUrl.Contains("MAccessory") ? "active" : "")">
                        <i class="fa fa-cog me-2"></i>Accessory
                    </a>

                    <a asp-page="/Manager/MUser/Index" class="nav-item nav-link @(currentUrl.Contains("MUser") ? "active" : "")">
                        <i class="fa fa-users me-2"></i>User
                    </a>

                    <a asp-page="/Manager/MOrder/Index" class="nav-item nav-link @(currentUrl.Contains("MOrder") ? "active" : "")">
                        <i class="fa fa-cart-arrow-down me-2"></i>Order
                    </a>

                    <a asp-page="/Manager/MOrderDetail/Index" class="nav-item nav-link @(currentUrl.Contains("MOrderDetail") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Order Detail
                    </a>

                    <a asp-page="/Manager/MDiscount/Index" class="nav-item nav-link @(currentUrl.Contains("MDiscount") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Discount
                    </a>

                    <a asp-page="/Manager/MCategory/Index" class="nav-item nav-link @(currentUrl.Contains("MCategory") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Category
                    </a>

                    <a asp-page="/Manager/MRevenue/Index" class="nav-item nav-link @(currentUrl.Contains("MRevenue") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Revenue
                    </a>

                    <a asp-page="/Manager/MFeedback/Index" class="nav-item nav-link @(currentUrl.Contains("MFeedback") ? "active" : "")">
                        <i class="fa fa-archive me-2"></i>Feedback
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">New Order Placed</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">New Order Delivered</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <!--<a href="#" class="dropdown-item text-center">See all message</a>-->
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="~/AdminNew/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Manager</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a asp-page="../Logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <br></br>
        <!--Product Start-->
        <div class="main-content">
            <!-- Content Header (Page header) -->
            <main role="main">
                @RenderBody()
            </main>
            <!-- /.content -->
        </div>

        <!-- Product End -->
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminNew/lib/chart/chart.min.js"></script>
    <script src="~/AdminNew/lib/easing/easing.min.js"></script>
    <script src="~/AdminNew/lib/waypoints/waypoints.min.js"></script>
    <script src="~/AdminNew/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/AdminNew/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/AdminNew/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/AdminNew/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/AdminNew/js/main.js"></script>
    @* <script>
        $(document).ready(function () {
            // Add click event handler to all nav links
            $('.navbar-nav a').on('click', function () {
                // Remove 'active' class from all nav links
                $('.navbar-nav a').removeClass('active');

                // Add 'active' class to the clicked nav link
                $(this).addClass('active');
            });
        });

    </script> *@
    <!-- Add your JavaScript links here -->
    @RenderSection("Scripts", required: false)
</body>
</html>
