@page
@model BirdCageShop.Pages.Manager.MAccessory.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_ManagerLayout";
}

<div class="col-sm-12 col-md-8 mx-auto">
    <div class="bg-light rounded h-100 p-4">
        @* <img src="data:image/png;base64,@item.CageImg" alt="Cage Image" class="img-fluid mb-4" /> *@
        <img src="~/@Model.Accessory.AccessoryImg" alt="Cage Image" class="img-fluid mb-4" />

        <div class="mb-3">
            <label for="inputAccessoryName" class="form-label">Cage Name:</label>
            <span id="inputCageName">@Html.DisplayFor(model => model.Accessory.AccessoryName)</span>
        </div>


        <div class="mb-3">
            <label for="inputQuantity" class="form-label">Quantity:</label>
            <span id="inputQuantity">@Html.DisplayFor(model => model.Accessory.AccessoryQuantity)</span>
        </div>


        <div class="mb-3">
            <label for="inputPrice" class="form-label">Price:</label>
            <span id="inputPrice">@Html.Raw(Model.Accessory.AccessoryPrice.Value.ToString("N0"))đ</span>
        </div>

        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description:</label>
            <span id="inputDescription">@Html.DisplayFor(model => model.Accessory.AccessoryDescription)</span>
        </div>


        <div class="mb-3 row">
            @* <div class="col-sm-3">
            <label for="inputQuantity" class="form-label">Size:</label>
            <span id="inputQuantity">@Html.DisplayFor(model => model.Accessory.Size)</span>
            </div>

            <div class="col-sm-3 text-center">
            <label for="inputPrice" class="form-label">Bar:</label>
            <span id="inputPrice">@Html.DisplayFor(model => model.Accessory.Bar)</span>
            </div> *@
            <div>
                <label for="inputStatus" class="form-label">Status:</label>
                <span id="inputStatus">
                    @Html.DisplayFor(model => model.Accessory.AccessoryStatus)
                    @if (Model.Accessory.AccessoryStatus == 1)
                    {
                        <text>(Show)</text>
                    }
                    else if (Model.Accessory.AccessoryStatus == 0)
                    {
                        <text>(Hidden)</text>
                    }
                </span>
            </div>
        </div>

        <!-- Category -->
        <div class="mb-3">
            <label for="inputCategory" class="form-label">Category:</label>
            <span id="inputCategory">@Html.DisplayFor(model => model.Accessory.Category.CategoryName)</span>
        </div>

        <!-- Discount -->
        <div class="mb-3">
            <label for="inputDiscount" class="form-label">Discount:</label>
            <span id="inputDiscount">@Html.DisplayFor(model => model.Accessory.Discount.DiscountName)</span>
        </div>

        <!-- Edit Button -->

        <div class="row">
            <div class="col-6">
                <a asp-page="./Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
            <div class="col-6" style="text-align: right;">
                <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Accessory?.AccessoryId">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </div>
        </div>
    </div>
</div>