@page
@model BirdCageShop.Pages.Manager.MFeedback.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_ManagerLayout";
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.RatingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.RatingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.FeedBackName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.FeedBackName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.FeedBackContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.FeedBackContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Order.OrderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
