@page
@model BirdCageShop.Pages.Admin.MProduct.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageImg)
        </dt>
        <dd class="col-sm-10">
            <img src="~/@Model.Product.CageImg" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Bar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Bar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CageStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Discount.DiscountName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Product?.CageId">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
