@page
@model BirdCageShop.Pages.Admin.MProduct.IndexModel
@addTagHelper *, LazZiya.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<!doctype html>
<html lang="en">

<head>
    <title>Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/AdminNew/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">zW
    <link href="~/AdminNew/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/AdminNew/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/AdminNew/css/style.css" rel="stylesheet">

    @* <link rel="stylesheet" href="~/table-07/css/style.css"> *@
</head>

<body>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: pink; text-align: center; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">Product List</h1>
        </div>
    </div>
    <style>
    .search-container {
        display: flex;
        align-items: center;
    }

        .search-input {
            width: 500px; /* Set the desired width */
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 4px;
            margin-right: 8px;
        }

    .search-button {
        padding: 8px 12px;
        background-color: pink;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #45a049;
    }
</style>

<div class="ml-auto search-container">
    <form method="post">
        <input class="search-input" name="SearchString" placeholder="Search ..." />
        <button asp-page-handler="search" type="submit" class="search-button">Search</button>
    </form>
</div>
    
    <section>
    <div class="container-fluid pt-4 px-4">
        <div class="col-12 mb-3">
            <button id="pendingBtn" class="btn btn-primary" onclick="toggleOrders('show')">Showed Cage</button>
            <button id="canceledBtn" class="btn btn-primary" onclick="toggleOrders('hide')">Hidden Cage</button>
            <button id="deliveredBtn" class="btn btn-primary" onclick="toggleOrders('customize')">Customized Cage</button>
               
        </div>
        <div>
                <a asp-page="Create" class="btn btn-primary">Create a Product</a>
        </div>
            
    </div>
        <div id="showedCage" class="container-fluid pt-4 px-4">
            <div class="row g-4">
            @foreach (var item in Model.ProductShow)
            {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="bg-light rounded h-100 p-4 card">
                                <img src="~/@item.CageImg" alt="Product Image" class="img-fluid mb-4" />
                                @* <img src="data:image/png;base64,@item.CageImg" alt="Cage Image" class="img-fluid mb-4" /> *@

                                <!-- Cage Name -->
                                <div class="mb-3">
                                    <label for="inputCageName" class="form-label">Cage Name:</label>
                                    <span id="inputCageName">@Html.DisplayFor(modelItem => item.CageName)</span>
                                </div>

                                <!-- Quantity and Price -->
                                <div class="mb-3">
                                    <label for="inputQuantity" class="form-label">Quantity:</label>
                                    <span id="inputQuantity">@Html.DisplayFor(modelItem => item.Quantity)</span>

                                    <label for="inputPrice" class="form-label ms-3">Price:</label>
                                    <span id="inputPrice">@Html.DisplayFor(modelItem => item.Price)</span>
                                </div>

                                <!-- Discount -->
                                <div class="mb-3">
                                    <label for="inputDiscount" class="form-label">Discount:</label>
                                    <span id="inputDiscount">@Html.DisplayFor(modelItem => item.Discount.DiscountName)</span>
                                </div>
                                <!-- Edit and view Detail Button -->
                                <div class="mb-12 row">
                                    <div class="col-sm-6">
                                    <a asp-page="./Edit" asp-route-id="@item.CageId" class="btn btn-primary">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a href="viewproduct.html?id=@item.CageId" class="btn btn-primary">
                                            <i class="fas fa-edit"></i> View detail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
            }
                <paging class="pagination"
                        total-records="@Model.totalShowProduct"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>   
            
    </div>
        <div id="hiddenCage" class="container-fluid pt-4 px-4" style="display: none;">
            <div class="row g-4">
                @foreach (var item in Model.ProductHidden)
                {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="bg-light rounded h-100 p-4 card">
                                <img src="~/@item.CageImg" alt="Product Image" class="img-fluid mb-4" />
                                @* <img src="data:image/png;base64,@item.CageImg" alt="Cage Image" class="img-fluid mb-4" /> *@

                                <!-- Cage Name -->
                                <div class="mb-3">
                                    <label for="inputCageName" class="form-label">Cage Name:</label>
                                    <span id="inputCageName">@Html.DisplayFor(modelItem => item.CageName)</span>
                                </div>

                                <!-- Quantity and Price -->
                                <div class="mb-3">
                                    <label for="inputQuantity" class="form-label">Quantity:</label>
                                    <span id="inputQuantity">@Html.DisplayFor(modelItem => item.Quantity)</span>

                                    <label for="inputPrice" class="form-label ms-3">Price:</label>
                                    <span id="inputPrice">@Html.DisplayFor(modelItem => item.Price)</span>
                                </div>

                                <!-- Discount -->
                                <div class="mb-3">
                                    <label for="inputDiscount" class="form-label">Discount:</label>
                                    <span id="inputDiscount">@Html.DisplayFor(modelItem => item.Discount.DiscountName)</span>
                                </div>
                                <!-- Edit and view Detail Button -->
                                <div class="mb-12 row">
                                    <div class="col-sm-6">
                                    <a asp-page="./Edit" asp-route-id="@item.CageId" class="btn btn-primary">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a href="viewproduct.html?id=@item.CageId" class="btn btn-primary">
                                            <i class="fas fa-edit"></i> View detail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
                <paging class="pagination"
                        total-records="@Model.totalHiddenProduct"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
            
        </div>
        <div id="customizedCage" class="container-fluid pt-4 px-4" style="display: none;">
            <div class="row g-4">
                @foreach (var item in Model.ProductCustomized)
                {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="bg-light rounded h-100 p-4 card">
                                <img src="~/@item.CageImg" alt="Product Image" class="img-fluid mb-4" />
                                @* <img src="data:image/png;base64,@item.CageImg" alt="Cage Image" class="img-fluid mb-4" /> *@

                                <!-- Cage Name -->
                                <div class="mb-3">
                                    <label for="inputCageName" class="form-label">Cage Name:</label>
                                    <span id="inputCageName">@Html.DisplayFor(modelItem => item.CageName)</span>
                                </div>

                                <!-- Quantity and Price -->
                                <div class="mb-3">
                                    <label for="inputQuantity" class="form-label">Quantity:</label>
                                    <span id="inputQuantity">@Html.DisplayFor(modelItem => item.Quantity)</span>

                                    <label for="inputPrice" class="form-label ms-3">Price:</label>
                                    <span id="inputPrice">@Html.DisplayFor(modelItem => item.Price)</span>
                                </div>

                                <!-- Discount -->
                                <div class="mb-3">
                                    <label for="inputDiscount" class="form-label">Discount:</label>
                                    <span id="inputDiscount">@Html.DisplayFor(modelItem => item.Discount.DiscountName)</span>
                                </div>
                                <!-- Edit and view Detail Button -->
                                <div class="mb-12 row">
                                    <div class="col-sm-6">
                                    <a asp-page="./Edit" asp-route-id="@item.CageId" class="btn btn-primary">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                    </div>
                                    <div class="col-6" style="text-align: right;">
                                        <a href="viewproduct.html?id=@item.CageId" class="btn btn-primary">
                                            <i class="fas fa-edit"></i> View detail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
                <paging class="pagination"
                        total-records="@Model.totalCustomizedProduct"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
           
        </div>
     
    </section>
</body>

</html>