@page
@model BirdCageShop.Pages.Manager.MProduct.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_ManagerLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CageImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Bar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Bar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CageStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CageStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Discount.DiscountId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.CageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
