@page
@model BirdCageShop.Pages.Manager.MProduct.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_ManagerLayout";
}

<div class="col-sm-12 col-md-8 mx-auto">
    <div class="bg-light rounded h-100 p-4">
        @* <img src="data:image/png;base64,@item.CageImg" alt="Cage Image" class="img-fluid mb-4" /> *@
        <img src="~/@Model.Product.CageImg" alt="Cage Image" class="img-fluid mb-4" />

        <!-- Cage Name -->
        <div class="mb-3">
            <label for="inputCageName" class="form-label">Cage Name:</label>
            <span id="inputCageName">@Html.DisplayFor(model => model.Product.CageName)</span>
        </div>

        <!-- Quantity and Price -->
        <div class="mb-3">
            <label for="inputQuantity" class="form-label">Quantity:</label>
            <span id="inputQuantity">@Html.DisplayFor(model => model.Product.Quantity)</span>

            <label for="inputPrice" class="form-label ms-3">Price:</label>
            <span id="inputPrice">@Html.Raw(Model.Product.Price.Value.ToString("N0"))đ</span>
        </div>

        <!-- Material -->
        <div class="mb-3">
            <label for="inputMaterial" class="form-label">Material:</label>
            <span id="inputMaterial">@Html.DisplayFor(model => model.Product.Material)</span>
        </div>

        <!-- Size and Bar and Status -->
        <div class="mb-3 row">
            <div class="col-sm-3">
                <label for="inputQuantity" class="form-label">Size:</label>
                <span id="inputQuantity">@Html.DisplayFor(model => model.Product.Size)</span>
            </div>

            <div class="col-sm-3 text-center">
                <label for="inputPrice" class="form-label">Bar:</label>
                <span id="inputPrice">@Html.DisplayFor(model => model.Product.Bar)</span>
            </div>
            <div class="col-sm-6 text-center">
                <label for="inputStatus" class="form-label">Status:</label>
                <span id="inputStatus">
                    @Html.DisplayFor(model => model.Product.CageStatus)
                    @if (Model.Product.CageStatus == 1)
                    {
                        <text>(Show)</text>
                    }
                    else if (Model.Product.CageStatus == 0)
                    {
                        <text>(Hidden)</text>
                    }
                    else if (Model.Product.CageStatus == 2)
                    {
                        <text>(Customize)</text>
                    }
                </span>
            </div>
        </div>

        <!-- Category -->
        <div class="mb-3">
            <label for="inputCategory" class="form-label">Category:</label>
            <span id="inputCategory">@Html.DisplayFor(model => model.Product.Category.CategoryName)</span>
        </div>

        <!-- Discount -->
        <div class="mb-3">
            <label for="inputDiscount" class="form-label">Discount:</label>
            <span id="inputDiscount">@Html.DisplayFor(model => model.Product.Discount.DiscountName)</span>
        </div>

        <!-- Edit Button -->

        <div class="row">
            <div class="col-6">
                <a asp-page="./Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
            <div class="col-6" style="text-align: right;">
                <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Product?.CageId">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </div>
        </div>
    </div>
</div>
