@page
@model BirdCageShop.Pages.Users.CustomizedModel
@{
    ViewData["Title"] = "Tạo lồng";
    Layout = "_LayoutCustomized";
}
<body>
    @if (string.IsNullOrEmpty(HttpContext.Session.GetString("LoggedInUser")))
    {
        <!-- Navbar Start -->
        <div class="container-fluid">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                       data-toggle="collapse"
                       href="#navbar-vertical"
                       style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Danh mục</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                         id="navbar-vertical"
                         style="width: calc(100% - 30px); z-index: 1;">
                        <div class="navbar-nav w-100 overflow-hidden"
                             style="height: 410px;">
                            @foreach (var item in Model.Categories)
                            {
                                <a href="" class="nav-item nav-link">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                            }


                        </div>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                        <a asp-page="../Index" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold">
                                <span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
                            </h1>
                        </a>
                        <button type="button"
                                class="navbar-toggler"
                                data-toggle="collapse"
                                data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between"
                             id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a style="padding-right: 70px;" asp-page="../Index" class="nav-item nav-link active">Trang chủ</a>
                                <a style="padding-right: 70px;" asp-page="Users/Shop" class="nav-item nav-link active">Lồng chim</a>
                                <a style="padding-right: 70px" class="nav-item nav-link active" asp-page="Users/Accessory">Phụ kiện</a>
                                <a style="padding-right: 70px" class="nav-item nav-link active" asp-page="Users/Comparision">So sánh</a>
                                <a style="padding-right: 70px" class="nav-item nav-link active" asp-page="Users/Customized">Tạo lồng</a>
                            </div>
                            <div class="navbar-nav ml-auto py-0">
                                <a asp-page="Login/Index" class="nav-item nav-link">Đăng nhập</a>
                                <a asp-page="Register/Index" class="nav-item nav-link">Đăng ký</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
    }
    else
    {
        var str = HttpContext.Session.GetString("LoggedInUser");
        <!-- Navbar Start -->
        <div class="container-fluid">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                       data-toggle="collapse"
                       href="#navbar-vertical"
                       style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Danh mục</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                         id="navbar-vertical"
                         style="width: calc(100% - 30px); z-index: 1;">
                        <div class="navbar-nav w-100 overflow-hidden"
                             style="height: 410px;">
                            @foreach (var item in Model.Categories)
                            {
                                <a href="" class="nav-item nav-link">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                            }
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                        <a asp-page="../Index" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold">
                                <span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
                            </h1>
                        </a>
                        <button type="button"
                                class="navbar-toggler"
                                data-toggle="collapse"
                                data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between"
                             id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a style="padding-right: 30px;" asp-page="../Index" class="nav-item nav-link active">Trang chủ</a>
                                <a style="padding-right: 30px;" asp-page="Users/Shop" class="nav-item nav-link active">Lồng chim</a>
                                <a style="padding-right: 30px" class="nav-item nav-link active" asp-page="Users/Accessory">Phụ kiện</a>
                                <a style="padding-right: 30px" class="nav-item nav-link active" asp-page="Users/Comparision">So sánh</a>
                                <a style="padding-right: 30px" class="nav-item nav-link active" asp-page="Users/Customized">Tạo lồng</a>
                            </div>
                            <div class="navbar-nav ml-auto py-0">
                                <a asp-page="Users/Profile" asp-page-UserEmail="@HttpContext.Session.GetString("userEmail")" class="nav-item nav-link">Xin chào, @HttpContext.Session.GetString("userName") </a>
                                <a asp-page="Admin/Logout" class="nav-item nav-link">Đăng xuất</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
    }
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center"
             style="min-height: 300px;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Lồng tự tạo</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a asp-page="../Index">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Lồng chim</p>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="container-fluid py-5 d-flex">
            <div class="bo-1 col-4 p-5 bg-primary" style="background-color: #d19c97;">
                <h4>Kiểu lồng</h4>
                <div class="form-group">
                    <select class="form-control cage-style" style="margin-bottom: 10%;" asp-for="@Model.cageType">
                        <option value=1029 data-img-src="~/img/cat-2.jpg">Tròn</option>
                        <option value=1030 data-img-src="~/img/cat-1.jpg">Vuông</option>

                    </select>
                    <img id="cageImage" style="width: 100%;" src="~/img/cat-1.jpg" alt="" />
                </div>
            </div>
            <div class="bo-2 col-8 ml-2 p-5" style="background-color: #d19c97;">
                <div class="d-flex equal-height-cols">
                    <div style="height: 20%;" class="col-6">
                        <div class="col-lg-12">
                            <h4 class="no-margin-bottom">Nắp lồng</h4>
                            <div class="form-group">
                                <select class="form-control cage_lid" asp-for="@Model.lidCage">
                                    <option value=1026>Nhựa</option>
                                    <option value=1027>Gỗ</option>
                                    <option value=1028>Vải</option>
                                </select><br>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="col-lg-8">
                                <h4 class="no-margin-bottom">Nan lồng</h4>
                                <div class="form-group">
                                    <select class="form-control cage_body" style="margin-top: 0%;" asp-for="@Model.barCageType">
                                        <option value=1016>Nhựa</option>
                                        <option value=1014>Gỗ</option>
                                        <option value=1015>Nhôm</option>
                                    </select><br>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4></h4>
                                <div class="form-group">
                                    <input value="@Model.barCageCount" type="number" class="form-control cage_body_input" placeholder="Số nan lồng chim" min="50" max="90" required />

                                </div><br>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col-lg-7">
                                <h4 class="no-margin-bottom">Cửa lồng</h4>
                                <div class="form-group">
                                    <select class="form-control cage_window_material" style="margin-top: 0%;">
                                        <option value="Nhựa">Nhựa</option>
                                        <option value="Nhôm">Nhôm</option>
                                    </select><br>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <h4></h4>
                                <div class="form-group">
                                    <select class="form-control cage_window_size" style="margin-top: 0%;">
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select><br>
                                </div>
                            </div>
                            <input id="productIdInput" type="hidden" value="1017" name="doorCage">
                        </div>
                        <div class="col-lg-12">
                            <h4 class="no-margin-bottom">Đế lồng</h4>
                            <div class="form-group">
                                <select class="form-control cage_base" style="margin-top: 0%;" asp-for="@Model.baseCage">
                                    <option value=1023>Nhựa</option>
                                    <option value=1024>Gỗ</option>
                                    <option value=1025>Nhôm</option>
                                </select><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Bảng giá</h4>
                        <table>
                            <tr>
                                <td colspan="4" style="background-color: #f2f2f2;">Kiểu Lồng</td>
                            </tr>
                            <tr>
                                <td>Lồng tròn</td>
                                <td>400.000</td>
                            </tr>
                            <tr>
                                <td>Lồng vuông</td>
                                <td>300.000</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td colspan="4" style="background-color: #f2f2f2;">Nắp Lồng</td>
                            </tr>
                            <tr>
                                <td>Nắp vải</td>
                                <td>300.000</td>
                            </tr>
                            <tr>
                                <td>Nắp gỗ</td>
                                <td>400.000</td>
                            </tr>
                            <tr>
                                <td>Nắp nhựa</td>
                                <td>200.000</td>
                            </tr>
                        </table>
                        <table style="color: black;">
                            <tr>
                                <td colspan="4" style="background-color: #f2f2f2;">Nan Lồng (Giá 1 Nan)</td>
                            </tr>
                            <tr>
                                <td>Nan nhựa</td>
                                <td>1.000</td>
                            </tr>
                            <tr>
                                <td>Nan gỗ</td>
                                <td>3.000</td>
                            </tr>
                            <tr>
                                <td>Nan nhôm</td>
                                <td>3.000</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td colspan="4" style="background-color: #f2f2f2;">Cửa Lồng</td>
                            </tr>
                            <tr>
                                <td>Nhựa</td>
                                <td>40.000(M)</td>
                                <td>60.000(L)</td>
                                <td>80.000(XL)</td>
                            </tr>
                            <tr>
                                <td>Nhôm</td>
                                <td>80.000(M)</td>
                                <td>120.000(L)</td>
                                <td>140.000(XL)</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td colspan="4" style="background-color: #f2f2f2;">Đế Lồng</td>
                            </tr>
                            <tr>
                                <td>Nhựa</td>
                                <td>50.000</td>
                            </tr>
                            <tr>
                                <td>Gỗ</td>
                                <td>200.000</td>
                            </tr>
                            <tr>
                                <td>Nhôm</td>
                                <td>100.000</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 details mt-5" style="color: black; background-color: #35b1fc">
                    <div class="row text-center">
                        <div class="col-3 pt-4">
                            <p title="Đây là thời gian dự kiến cơ bản hoàn thành xong lồng" style="font-weight:600">
                                <span title="Đây là thời gian dự kiến cơ bản hoàn thành xong lồng">THỜI GIAN DỰ KIẾN:</span> <span id="totalTime"></span> ngày
                            </p>
                        </div>

                        <div class="col-3 pt-4">
                            <p>TIỀN CƠ BẢN: <span id="totalBaseMoney"></span> vnđ</p>
                        </div>
                        <div class="col-3 pt-4">
                            <p>TIỀN GIA CÔNG: <span id="totalWage"></span> vnđ</p>
                        </div>
                        <div class="col-3" style="padding-right:0">
                            <button type="submit" style="width: 100%; border: none;" class="bg-success">
                                <p id="totalMoney"></p>
                                <span>ĐẶT HÀNG</span>
                            </button>
                        </div>
                    </div>
                    <input name="OrderEst" value="" type="hidden" />
                    <input name="OrderPrice" value="" type="hidden" />
                    <input name="ExpenseMachining" value="" type="hidden" />
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/customize.js"></script>
</body>


