@page
@model BirdCageShop.Pages.Users.CustomizeModel
@{

    ViewData["Title"] = "Tạo lồng";
    Layout = "_LayoutCustomized";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 300px;">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Cửa hàng</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-page="../Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Tạo lồng</p>
        </div>
    </div>
</div>
@{
    var errorMessage = TempData["errorMessage"] as string;
    var successMessage = TempData["successMessage"] as string;
    var exceptionMessage = TempData["exMessage"] as string;
}
<div class="alert alert-danger" style="@(string.IsNullOrEmpty(errorMessage) ? "display: none;" : "")">
    @errorMessage
</div>

<!-- Hiển thị thông báo thành công -->
<div class="alert alert-success" style="@(string.IsNullOrEmpty(successMessage) ? "display: none;" : "")">
    @successMessage
</div>
<form method="post">
    <div class="container-fluid py-5 d-flex">
        <div class="bo-1 col-4 p-5 bg-primary" style="background-color: #d19c97;">
            <h4>Kiểu lồng</h4>
            <div class="form-group">
                <select class="form-control cage-style" style="margin-bottom: 10%;" asp-for="@Model.cageType">
                    <option value=1029 data-img-src="/FE_Web/img/cat-2.jpg">Tròn</option>
                    <option value=1030 data-img-src="/FE_Web/img/cat-2.jpg">Vuông</option>
                </select>
                <img id="cageImage" style="width: 100%;" src="/FE_Web/img/cat-1.jpg" alt="" />
            </div>
            </div>
        <div class="bo-2 col-8 ml-2 p-5" style="background-color: #d19c97;">
            <div class="d-flex equal-height-cols">
                <div class="col-6">
                    <div class="col-lg-12">
                        <h4 class="no-margin-bottom">Nắp lồng</h4>
                        <div class="form-group">
                            <select class="form-control cage_lid" asp-for="@Model.lidCage">
                                <option value=1026>Nhựa</option>
                                <option value=1027>Gỗ</option>
                                <option value=1028>Vải</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="col-lg-8">
                            <h4 class="no-margin-bottom">Nan lồng</h4>
                            <div class="form-group">
                                <select class="form-control cage_body" style="margin-top: 0%;" asp-for="@Model.barCageType" >
                                    <option value=1016>Nhựa</option>
                                    <option value=1014>Gỗ</option>
                                    <option value=1015>Nhôm</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h4></h4>
                            <div class="form-group">
                                <input value="@Model.barCageCount" type="number" class="form-control cage_body_input" placeholder="Số nan lồng chim" min="50" max="90" required />
                                @exceptionMessage
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-lg-7">
                            <h4 class="no-margin-bottom">Cửa lồng</h4>
                            <div class="form-group">
                                <select class="form-control cage_window_material" style="margin-top: 0%;" >
                                    <option value="Nhựa">Nhựa</option>
                                    <option value="Nhôm">Nhôm</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h4></h4>
                            <div class="form-group">
                                <select class="form-control cage_window_size" style="margin-top: 0%;">
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                        </div>
                        <input id="productIdInput" type="hidden" value="1017" name="doorCage">
                    </div>
                    <div class="col-lg-12">
                        <h4 class="no-margin-bottom">Đế lồng</h4>
                        <div class="form-group">
                            <select class="form-control cage_base" style="margin-top: 0%;" asp-for="@Model.baseCage">
                                <option value=1023>Nhựa</option>
                                <option value=1024>Gỗ</option>
                                <option value=1025>Nhôm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Tổng quan sản phẩm</h4>
                    <img style="width: 100%;" src="/FE_Web/img/cat-1.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 details mt-5" style="color: black; background-color: #35b1fc">
                <div class="row text-center">
                    <div class="col-3 pt-4">
                        <p title="Đây là thời gian dự kiến cơ bản hoàn thành xong lồng" style="font-weight:600">
                            <span title="Đây là thời gian dự kiến cơ bản hoàn thành xong lồng">THỜI GIAN DỰ KIẾN:</span> <span id="totalTime"></span> ngày  
                        </p>
                    </div>

                    <div class="col-3 pt-4">
                        <p>TIỀN CƠ BẢN: <span id="totalBaseMoney"></span> vnđ</p>
                    </div>
                    <div class="col-3 pt-4">
                        <p>TIỀN GIA CÔNG: <span id="totalWage"></span> vnđ</p>
                    </div>
                    <div class="col-3" style="padding-right:0">
                        <button type="submit" style="width: 100%; border: none;" class="bg-success">
                            <p id="totalMoney"></p>
                            <span>ĐẶT HÀNG</span>
                        </button>
                    </div>
                </div>
                <input name="OrderEst" value="" type="hidden" />
                <input name="OrderPrice" value="" type="hidden" />
                <input name="ExpenseMachining" value="" type="hidden" />
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
</form>

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5">
            <span class="px-2">Bạn có thể thích</span>
        </h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/product-1.jpg" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Bird Cage</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết
                        </a>
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm
                            vào giỏ
                        </a>
                    </div>
                </div>
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/product-2.jpg" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Bird Cage</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                            Cart
                        </a>
                    </div>
                </div>
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/product-3.jpg" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Bird Cage</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                            Cart
                        </a>
                    </div>
                </div>
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/product-4.jpg" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Bird Cage</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                            Cart
                        </a>
                    </div>
                </div>
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/product-5.jpg" alt="" />
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Bird Cage</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$123.00</h6>
                            <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                            Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>
<script src="~/js/customized.js"></script>

