@page
@model BirdCageShop.Pages.Admin.MAccessory.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.AccessoryImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.AccessoryImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessory.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessory.Discount.DiscountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Accessory.AccessoryId">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
