@page
@model BirdCageShop.Pages.Users.ComparisionModel
@{
    ViewData["Title"] = "So sánh";
    Layout = "_Layout"; 
}

<body>
    <!-- Customization Options Start -->
    <div style="display: flex; justify-content: center;">
        <div class="container">
            <h2 style="text-align: center;">So sánh</h2>
            <br>


        </div>
    </div>
    <!-- Customization Options End -->
    <!-- Comparison Page Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive">
                <table class="table table-bordered text-center">
                    
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Sản Phẩm 1</th>
                            <th>Sản phẩm 2</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <!-- Sample product data for comparison -->
                        @if(Model.comparePro.Count == 0)
                        {
                            <div>EMPTY. You should add 2 products to see the result</div>
                        }
                        else
                        {
                            <tr>
                                <td class="align-middle">@Model.comparePro[0].CageName</td>
                                <td class="align-middle">@Model.comparePro[1].CageName</td>
                            </tr>
                            <tr>
                                <td class="align-middle">@Model.comparePro[0].Price</td>
                                <td class="align-middle">@Model.comparePro[1].Price</td>
                            </tr>
                            <tr>
                                <td class="align-middle">@Model.comparePro[0].Size</td>
                                <td class="align-middle">@Model.comparePro[1].Size</td>
                            </tr>
                            <tr>
                                <td class="align-middle">@Model.comparePro[0].Material</td>
                                <td class="align-middle">@Model.comparePro[1].Material</td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    @Model.comparePro[0].Description
                                </td>
                                <td class="align-middle">
                                    @Model.comparePro[1].Description
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Comparison Page End -->

</body>
