@page
@model BirdCageShop.Pages.Admin.MOrder.IndexModel
@addTagHelper *, LazZiya.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<!doctype html>
<html lang="en">

<head>
    <title>Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: pink; text-align: center; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">Order List</h1>
        </div>
    </div>
    <style>
        .search-container {
            display: flex;
            align-items: center;
        }

        .search-input {
            width: 500px; /* Set the desired width */
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 4px;
            margin-right: 8px;
        }

        .search-button {
            padding: 8px 12px;
            background-color: pink;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .search-button:hover {
                background-color: #45a049;
            }
    </style>

    <div class="ml-auto search-container">
        <form method="post">
            <input class="search-input" name="SearchString" placeholder="Search ..." />
            <button asp-page-handler="search" type="submit" class="search-button">Search</button>
        </form>
    </div>
    <section>
        <br></br>

        <div class="container-fluid pt-4 px-4">
            <div class="col-12 mb-3">
                <button id="pendingBtn" class="btn btn-primary" onclick="toggleOrders('pending')">Pending Order</button>
                <button id="cancelledBtn" class="btn btn-primary" onclick="toggleOrders('cancelled')">Cancelled Order</button>
                <button id="deliveringBtn" class="btn btn-primary" onclick="toggleOrders('delivering')">Delivering Order</button>
                <button id="deliveredBtn" class="btn btn-primary" onclick="toggleOrders('delivered')">Delivered Order</button>
            </div>
        </div>
        <div id="pendingOrderTable" class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-18 col-xl-18">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Pending Order</h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-1">UserId</th>
                                            <th scope="col" class="col-2">Status</th>
                                            <th scope="col" class="col-2">Price</th>
                                            <th scope="col" class="col-2">OrderDate</th>
                                            <th scope="col" class="col-2">OrderAdress</th>
                                            <th scope="col" class="col-2">OrderName</th>
                                            <th scope="col" class="col-2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderPending)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderAdress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderName)
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <paging class="pagination"
                        total-records="@Model.totalPendingOrder"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
        </div>
        <div id="cancelledOrderTable" class="container-fluid pt-4 px-4" style="display: none;">
            <div class="row g-4">
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-18 col-xl-18">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Cancelled Order</h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-1">UserId</th>
                                            <th scope="col" class="col-2">Status</th>
                                            <th scope="col" class="col-2">Price</th>
                                            <th scope="col" class="col-2">OrderDate</th>
                                            <th scope="col" class="col-2">OrderAdress</th>
                                            <th scope="col" class="col-2">OrderName</th>
                                            <th scope="col" class="col-2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderCancelled)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderAdress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderName)
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <paging class="pagination"
                        total-records="@Model.totalCancelOrder"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
        </div>
        <div id="deliveringOrderTable" class="container-fluid pt-4 px-4" style="display: none;">
            <div class="row g-4">
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-18 col-xl-18">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Delivering Order</h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-1">UserId</th>
                                            <th scope="col" class="col-2">Status</th>
                                            <th scope="col" class="col-2">Price</th>
                                            <th scope="col" class="col-2">OrderDate</th>
                                            <th scope="col" class="col-2">OrderAdress</th>
                                            <th scope="col" class="col-2">OrderName</th>
                                            <th scope="col" class="col-2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderDelivering)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderAdress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderName)
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <paging class="pagination"
                        total-records="@Model.totalDeliveringOrder"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
        </div>
        <div id="deliveredOrderTable" class="container-fluid pt-4 px-4" style="display: none;">
            <div class="row g-4">
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-18 col-xl-18">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 class="mb-4">Delivered Order</h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-1">UserId</th>
                                            <th scope="col" class="col-2">Status</th>
                                            <th scope="col" class="col-2">Price</th>
                                            <th scope="col" class="col-2">OrderDate</th>
                                            <th scope="col" class="col-2">OrderAdress</th>
                                            <th scope="col" class="col-2">OrderName</th>
                                            <th scope="col" class="col-2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderDelivered)
                                        {
                                            <tr>
                                                <th scope="row">
                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderPrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderAdress)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderName)
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.OrderId">Details</a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <paging class="pagination"
                        total-records="@Model.totalDeliveredOrder"
                        show-total-pages="false"
                        show-total-records="false"
                        page-size="@Model.pageSize"
                        page-no="@Model.pageNo">
                </paging>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the view type and page number from the URL parameters
            var urlParams = new URLSearchParams(window.location.search);
            var viewType = urlParams.get('view');
            var pageNo = urlParams.get('p');

            // Set the current page number for each pagination element
            var paginationElements = document.querySelectorAll('.pagination');
            paginationElements.forEach(function (pagination) {
                pagination.setAttribute('page-no', pageNo);
            });

            // Handle display based on the view type
            if (viewType === 'pending') {
                document.getElementById('pendingOrderTable').style.display = 'block';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (viewType === 'cancelled') {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'block';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (viewType === 'delivering') {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'block';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (viewType === 'delivered') {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'block';
            }
        });

        function toggleOrders(type) {
            // Store the current page state in sessionStorage
            var pageState;

            if (type === 'pending') {
                pageState = 0;
                viewType = 'pending';
            } else if (type === 'cancelled') {
                pageState = 1;
                viewType = 'cancelled';
            } else if (type === 'delivering') {
                pageState = 2;
                viewType = 'delivering';
            } else if (type == 'delivered') {
                pageState = 3;
                viewType = 'delivered';
            }

            // Map pageState to descriptive viewType for URL construction

            // Restore the page state from sessionStorage
            var previousPageState = sessionStorage.getItem('pageState');
            var currentPageNo = sessionStorage.getItem('currentPageNo');

            // Check if previousPageState is not equal to pageState
            if (previousPageState != pageState) {
                currentPageNo = 1;

                // Update the URL with the new view state and page number
                setUrlWithViewState(viewType, currentPageNo);

                // Reload the page with the new URL parameters
                window.location.reload();
            }

            // Set the current page number for each pagination element
            var paginationElements = document.querySelectorAll('.pagination');
            paginationElements.forEach(function (pagination) {
                pagination.setAttribute('page-no', currentPageNo);
            });

            // Update sessionStorage with the current page state
            sessionStorage.setItem('pageState', pageState);
            sessionStorage.setItem('currentPageNo', currentPageNo);

            // Handle display based on the pageState
            if (pageState == 0) {
                document.getElementById('pendingOrderTable').style.display = 'block';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (pageState == 1) {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'block';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (pageState == 2) {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'block';
                document.getElementById('deliveredOrderTable').style.display = 'none';
            } else if (pageState === 3) {
                document.getElementById('pendingOrderTable').style.display = 'none';
                document.getElementById('cancelledOrderTable').style.display = 'none';
                document.getElementById('deliveringOrderTable').style.display = 'none';
                document.getElementById('deliveredOrderTable').style.display = 'block';
            }
        }

        function setUrlWithViewState(viewType, pageNo) {
            // Get the current URL without query parameters
            var baseUrl = window.location.href.split('?')[0];

            // Build the new URL with the specified view state and page number
            var newUrl = `${baseUrl}?view=${viewType}&p=${pageNo}`;

            // Use pushState to update the URL without triggering a page reload
            window.history.pushState({ viewType, pageNo }, '', newUrl);
        }
    </script>


</body>

</html>
